* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 100%;
    border-bottom: 100px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
    z-index: 1;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 60px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0px;
}

.jump-mario {
    animation: jump-mario 500ms  ease-out;

}

.clouds {
    width: 550px;
    position: absolute;
    animation: clouds-animation 10s infinite linear;
}
 
.game-container {
    position: relative;
    padding: 20px;
    text-align: right;

    background-color: transparent;
    color: rgb(10, 10, 10);
    right: 60px;
    border-radius: 10px;
    
    z-index: 2;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump-mario {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}